#container {
    display: flex;
    flex-wrap: wrap;
    width: 800px;  /* Adjust as necessary */
    height: 800px; /* Adjust as necessary */
    box-sizing: border-box;
    margin: 20px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    box-sizing: border-box; /* Ensure borders are included in width and height calculations */
    font-size: 12px; /* Adjust font size as needed */
}
button{
    width: 200px;
    height: 100px;
    margin-left: 300px;
}